{% load static %}

<footer class='footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-6'></div>
      <div class='col-sm-6'>
        <div class='text-sm-end d-none d-sm-block'>
          <script>document.write(new Date().getFullYear())</script> | financial spreadsheet.
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JAVASCRIPT -->
<script src="{% static 'global/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'global/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'global/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'global/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'global/libs/node-waves/waves.min.js' %}"></script>

<!-- jquery.mask -->
<script src="{% static 'board/libs/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>

<!-- form repeater js -->
<script src="{% static 'board/libs/jquery.repeater/jquery.repeater.min.js' %}"></script>

<!-- select2 -->
<script src="{% static 'board/libs/select2/js/select2.min.js' %}"></script>

<!-- controllers -->
<script src="{% static 'board/js/theme.min.js' %}"></script>

<!-- moment js -->
<script src="{% static 'global/libs/moment/min/moment.min.js' %}"></script>

<!-- app js -->
<script src="{% static 'global/js/app.js' %}"></script>

<!-- advance form init -->
<script src="{% static 'board/js/form-advanced.init.js' %}"></script>

<!-- dashboard init -->
<script src="{% static 'board/js/dashboard.init.js' %}"></script>

<!-- form-repeater init -->
<script src="{% static 'board/js/form-repeater.int.js' %}"></script>

<!-- validation init -->
<script src="{% static 'global/js/validation.init.js' %}"></script>
</html>