{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
  <div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
      <div class='page-content'>
        <div class='container-fluid'>
          <!-- start page title -->
          <div class='row'>
            <div class='col-12'>
              <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                <h4 class='mb-sm-0 font-size-18'>Profile</h4>
                <div class='page-title-right'>
                  <ol class='breadcrumb m-0'>
                    <li class='breadcrumb-item'>Profile</li>
                    <li class='breadcrumb-item active'>Password</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- end page title -->
          <div class='row'>
            <div class='col-md-8'>
              <div class='card'>
                <div class='card-body'>
                  <div class='row mb-2'>
                    <div class='col-sm-4'>
                      <h4 class='card-title'>Change Password</h4>
                      <p class='card-title-desc'>Enter new password and its confirmation</p>
                    </div>
                  </div>
                  {% if error %}
                    <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                  {% endif %}
                  <form class='needs-validation' method='post' action="{% url 'board:password' %}" novalidate>
                    {% csrf_token %}
                    <div class='row'>
                      <div class='col-md-12'>
                        <div class='mb-3'>
                          <label for='password' class='form-label'>New Password</label>
                          <input type='password' class='form-control valid_pass' id='password' name='password'
                            placeholder='Enter password' required>
                          <div class='invalid-feedback'>Please enter new password</div>
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-12'>
                        <div class='mb-3'>
                          <label for='password_confirmation' class='form-label'>Confirm Password</label>
                          <input type='password' class='form-control valid_pass_confirm' id='password_confirmation' name='password_confirmation'
                            placeholder='Enter password confirmation' required>
                          <div class='invalid-feedback'>Please enter password confirmation</div>
                        </div>
                      </div>
                    </div>
                    <div class='d-flex flex-wrap gap-2'>
                      <button type='submit' class='btn btn-primary waves-effect waves-light'>Change Password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class='col-md-4'>
              <div class='card'>
                <div class='card-body'>
                  <div class='row mb-2'>
                    <div class='col-sm-12'>
                      <h4 class='card-title'>Password Rules</h4>
                      <p class='card-title-desc'>Follow the rules below to change your password</p>
                    </div>
                  </div>
                  <p class='mb-2'>&#9679; Must contain at least ONE number in its composition</p>
                  <p class='mb-2'>&#9679; Must contain at least ONE capital letter in its composition</p>
                  <p class='mb-2'>&#9679; Must contain at least ONE lowercase letter in its composition</p>
                  <p class='mb-2'>&#9679; Must contain at least 8 digits in its composition</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->
    </div>
    <!-- end main content-->
  </div>
</body>

{% include 'board/partials/footer.html' %}