{% load static %}

<!-- JAVASCRIPT -->
<script src="{% static 'home/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'home/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'home/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'home/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'home/libs/node-waves/waves.min.js' %}"></script>

<!-- validation init -->
<script src="{% static 'home/js/validation.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'home/js/app.js' %}"></script>
</html>